{% extends 'base.html.twig' %}

{% block body %}

    Un nouvel article vient d'être créé :

    titre : {{ article.title }}
    lien : <a href="{{ path('article_show', {'id' : article.id}) }}">Voir l'article</a>

{% endblock %}