{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Tag</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ tag.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ tag.name }}</td>
        </tr>
        </tbody>
    </table>

    <strong>Article :</strong>
    <ul>
        {% for article in tag.articles %}
            <li>{{ article.name }} </li>
        {% else %}
            <li>No articles for this tag</li>
        {% endfor %}
    </ul>

{% endblock %}
